* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2em;
  font-size: large;
  background-color: #424242;
  color: #e2e0e0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 2em;
  margin-right: 0em;
}

.box-1 {
  background-color: #5f5c5c;
  width: 25%;
  padding: 1em;
}

.box-2 {
  background-color: #5f5c5c;
  margin-left: 0.5em;
  width: 35%;
  padding: 1em;
}

.box-3 {
  background-color: #5f5c5c;
  margin-left: 0.5em;
  width: 35%;
  padding: 1em;
}

.header h3 {
  margin-top: 2em;
  text-align: center;
  word-spacing: 2vw;
}

form {
  margin-top: 0.5em;
  margin-left: -0.6em;
}

form #city {
  padding: 0.3em;
  font-size: large;
}

.iconholder {
  margin-top: 0.3em;
}

#icon {
  float: left;
}

.temperature {
  font-size: x-large;
  margin-top: 0.1em;
}

.sub {
  font-size: 1.5em;
  margin-top: 2em;
}

.sup {
  font-size: 0.5em;
  margin-top: -2em;
}
ul {
  padding-inline-start: 0em;
}

ul li {
  text-transform: none;
  list-style-type: none;
  padding: 0.5em;

  /* text-decoration: underline;*/
}

#searchValue {
  text-align: center;
  max-width: 50%;
  padding: 0.3em;
  font-size: large;
  margin-top: 1em;
  text-transform: capitalize;
}

#newupdate {
  text-align: center;
  max-width: 50%;
  padding: 0.3em;
  font-size: large;
  margin-top: 1em;
  text-transform: capitalize;
}

#description {
  clear: both;
  padding-left: 4.5em;
  text-transform: capitalize;
}

/*media break point for devices smaller than or equal to tabs*/
@media only screen and (max-width: 988px) {
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 1.9em;
    font-size: small;
    background-color: #424242;
    color: #e2e0e0;
  }

  .temperature {
    font-size: xx-large;
    margin-top: 0.1em;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2em;
  }
  .box-1 {
    background-color: #5f5c5c;
    width: 80vw;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-left: -0.5em;
  }

  .box-2 {
    background-color: #5f5c5c;
    margin-left: -0.5em;
    width: 80vw;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .box-3 {
    background-color: #5f5c5c;
    margin-left: -0.5em;
    width: 80vw;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  #icon {
    float: left;
  }

  #description {
    clear: both;
    padding-left: 5.5em;
    text-transform: capitalize;
    font-size: large;
  }
}

@media only screen and (max-width: 666px) {
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 1.9em;
    font-size: small;
    background-color: #424242;
    color: #e2e0e0;
  }

  .header h3 {
    margin-top: 1em;
    margin-bottom: 0em;
  }

  .temperature {
    font-size: x-large;
    margin-top: 0.1em;
  }

  #icon {
    clear: both;
  }
}
